aside {
    display: none;

    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        grid-area: sidebar;
        grid-row: 2 / span 2;
        background-color: var(--primary-clr);
        color: var(--light-clr);
        max-width: 100%;
    }
}