aside {
    display: none;
    grid-area: sidebar;
    grid-row: 2 / span 2;
    background-color: var(--primary-clr);
    color: var(--light-clr);
    padding: 6em 0;


    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: start;
    }
}

.progression-bar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;

    h2 {
        margin-bottom: 1rem;
    }

    .progression-bar__list {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .progression-bar__item {
            display: flex;
            align-items: center;
            gap: 2em;
        }

        .progression-bar__dot {
            display: flex;
            background-color: var(--light-clr);
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            border: solid 1px var(--light-clr);
        }

        .progression-bar__label {
            min-width: fit-content;
            font-size: 1.5rem;
        }
    }
}