 main {
     display: flex;
     flex-direction: column;
     gap: 3em;
     margin: 0 auto;

     h1 {
         color: var(--dark-clr);
         font-size: clamp(1.5rem, 2vw, 2rem);
         font-weight: var(--xxl-fweight);
         margin-block: 1em 3em;
         margin-inline-start: .5em;
     }

     .form-nav__container {
         display: flex;
         justify-content: flex-end;
         padding: 0 2.5em;
         gap: 2em;
     }

     .btn-form-page {
         width: 150px;
         padding: .5em 0;
         text-transform: capitalize;
         text-align: center;
         font-weight: var(--xl-fweight);
         border-radius: 50px;
         border: 5px solid var(--primary-clr);
     }

     .next,
     .submit {
         color: var(--light-clr);
         background-color: var(--primary-clr);
     }

     .previous {
         color: var(--primary-clr);
         background-color: transparent;

         &:hover,
         &:focus {
             color: var(--light-clr);
             background-color: var(--primary-clr);
         }
     }
 }

 form {
     display: flex;
     flex-direction: column;
     padding: 0 2.5em;
     gap: 2rem;

     fieldset {
         position: relative;
         display: flex;
         flex-direction: column;
         gap: 1em;
         border: 0;

         legend {
             font-weight: var(--xl-fweight);
             font-size: clamp(1rem, 2vw, 1.5rem);
             margin-block-end: 2em;
             color: var(--dark-clr);
             margin: 2em 0;
         }

         label {
             display: flex;
             flex-direction: column;
             text-align: left;
             gap: 1em;

             .label-heading {
                 color: var(--primary-clr);
                 border-inline-start: .37em solid var(--dark-clr);
                 padding-inline-start: .25em;
             }

         }

         input {
             border: 0;
             border-block-end: 3px solid var(--dark-clr);
         }

         select {
             text-align: center;
             border-radius: 10px;
             border: 3px solid var(--dark-clr);
             background: var(--light-clr);
         }

         input:not([type="radio"]):not([type="checkbox"]),
         select {
             height: 2rem;
             padding: 0 1em;
             margin-block-end: 1em;
         }

         input[type="date"] {
             padding: 0 .75em;
         }

         .choice__container {
             display: flex;
             flex-direction: row;
             align-items: center;

             input[type="radio"] {
                 max-width: fit-content;
                 height: fit-content;
                 margin-inline-start: 1em;
             }
         }

         .label-subheading {
             color: var(--dark-clr);
             font-size: .75rem;
         }
     }

 }

 @media only screen and (min-width: 768px) {
     form {
         margin: 0 auto;
         max-width: 100%;

         fieldset {
             display: grid;
             grid-row: auto;
             grid-template-columns: 1fr 1fr 1fr;
             align-items: end;
             gap: 3em;

             input:not([type="checkbox"])label {
                 justify-content: end;
             }

             select {
                 width: 200px;
             }
         }

     }
 }

 .title-underline {
     position: relative;

     &::after {
         @media only screen and (min-width: 768px) {
             content: "";
             max-width: 15%;
             position: absolute;
             inset: 1.875em 0 0 -2em;
             border: 4px solid var(--dark-clr);
             background: var(--dark-clr);
             z-index: -1;
         }
     }
 }

 .conditional-input {
     display: none;
     flex-direction: column;
     gap: 1em;
 }