:root {
  /* COLORS */
  --primary-clr: #4169e1;
  --light-clr: #FFF;
  --dark-clr: #173795;
  --alert-clr: #bb2649;
  --process-clr: orange;
  --validation-clr: limegreen;

  /* FONT WEIGHTS */
  --md-fweight: 500;
  --xs-fweight: 300;
  --xl-fweight: 700;
  --xxl-fweight: 800;

  /* EFFECTS */
  /* Shadows*/
  --bottom-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  --right-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.3);
  --element-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));

  /* FONTS */
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL RESET */

body,
html,
#root {
  height: calc(100vh - 3px);
  height: calc(100svh - 3px);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  grid-area: main;
  max-width: 100%;
}

/* HEADINGS/TEXTS */

h1,
h2 {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: var(--xl-fweight);
  text-transform: uppercase;
  color: inherit;
}

.title-underline {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .title-underline::after {
    content: "";
    max-width: 15%;
    position: absolute;
    inset: 1.875em 0 0 -2em;
    border: 4px solid var(--dark-clr);
    background: var(--dark-clr);
    z-index: -1;
  }
}

h3,
button,
input {
  font-family: inherit;
  font-size: clamp(.875rem, 2vw, 1rem);
  color: inherit;
}

p {
  font-size: clamp(.5rem, 2vw, 1rem);
}

/* ELEMENTS RESET*/

/* Links*/
a {
  display: block;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: var(--xs-fweight);
  text-decoration: none;
  color: inherit;
  text-align: center;
}

/* Lists */

ul,
li {
  list-style-type: none;
}
/* Images */

picture {
  max-width: fit-content;
  height: auto;
}

img {
  max-width: 100%;
  height: auto
}

/* Buttons */

button {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  filter: var(--element-shadow);
}

button:hover {
  filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 0.0));
}

/* ACCESSIBILITY */

/* Maskable text for non-disabled people */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}