.header-nav {
    grid-area: nav;
    justify-self: center;

    .header-nav__link {
        display: none;
    }

    @media only screen and (min-width: 768px) {
        justify-self: end;
        .header-nav__link {
            display: flex;
            gap: 3rem;
            max-width: 100%;
        }


        li:hover,
        li:focus {
            i, p {
                opacity: .75;
            }
        }

        .user-btn {
            display: none;
        }
    }
}